#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#areaTrajes, #areaIslas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    width: auto;
    margin: 20px;
}

#botones {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

#puntuacion {
    font-size: 30px;
}


#dialog-confirm {
    display: none;
}

/*.bordeVerde {
    padding:1px;
    border:3px solid green;
}

.bordeRojo {
    padding:1px;
    border:3px solid red;
}

.bordeVerde {
    animation: verde 1s ease-in-out;
    }
  
  @keyframes verde {
    0% {
        border: solid 0px green;    
    }
    100% {
        border: solid 5px green;    
    }
  }

.bordeRojo {
    animation: rojo 1s ease-in-out;
    }
  
  @keyframes rojo {
    0% {
        border: solid 0px red;    
    }
    100% {
        border: solid 5px red;    
    }
  }
  */