#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#areaTrajes, #areaIslas {
    height: auto;
    width: auto;
    margin: 20px;
}

#botones {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.bordeVerde {
    padding:1px;
    border:3px solid green;
}

.bordeRojo {
    padding:1px;
    border:3px solid red;
}

#puntuacion {
    font-size: 30px;
}